python>=3.12.4
absl-py==2.2.1

appdirs==1.4.4

astunparse==1.6.3

autobahn==19.11.2

dataclasses-json==0.6.7

flatbuffers==25.2.10

gast==0.6.0
plotly-express
google-pasta==0.2.0

grpcio==1.71.0
h11==0.16.0

httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.0

imblearn==0.0

jiter==0.9.0

jsonpointer==2.1

keras==3.9.1

kiteconnect==5.0.1

langchain==0.3.24
langchain-community==0.3.22
langchain-core==0.3.56
langchain-text-splitters==0.3.8
langsmith==0.3.34

libclang==18.1.1

marshmallow==3.26.1

mkl-service==2.4.0
ml_dtypes==0.5.1

namex==0.0.8

openai==1.76.0

opt_einsum==3.4.0
optree==0.14.1
orjson==3.10.16
plotly_express-0.4.0
protobuf==3.20.3

pycurl==7.45.2
pydantic==2.11.3
pydantic-settings==2.9.1
pydantic_core==2.33.1


pyls-spyder==0.4.0

PyQtWebEngine==5.15.6

pywin32==305.1

setuptools==69.5.1

streamlit==1.44.1
streamlit-option-menu==0.4.0

tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==2.5.0

txaio==23.1.1
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2

wheel==0.43.0

zstandard==0.23.0
